<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.) styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
        <link rel="stylesheet" href="bower_components/morris.js/morris.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <link rel="stylesheet" href="bower_components/bower-xcharts/xcharts.css">
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
    </head>

    <body ng-app="angularDevoopsApp">
        <div id="screensaver">
            <canvas id="canvas"></canvas>
            <i class="fa fa-lock" id="screen_unlock"></i>
        </div>
        <div id="modalbox">
            <div class="devoops-modal">
                <div class="devoops-modal-header">
                    <div class="modal-header-name">
                        <span>Basic table</span>
                    </div>
                    <div class="box-icons">
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="devoops-modal-inner">
                </div>
                <div class="devoops-modal-bottom">
                </div>
            </div>
        </div>
        <header class="navbar">
            <div class="container-fluid expanded-panel">
                <div class="row">
                    <div id="logo" class="col-xs-12 col-sm-2">
                        <a href="index.html">DevOOPS</a>
                    </div>
                    <div id="top-panel" class="col-xs-12 col-sm-10">
                        <div class="row">
                            <div class="col-xs-8 col-sm-4">
                                <a class="show-sidebar" ng-click="sidebarCollapsed=!sidebarCollapsed">
                                    <i class="fa fa-bars"></i>
                                </a>
                                <div id="search">
                                    <input type="text" placeholder="search"/>
                                    <i class="fa fa-search"></i>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-8 top-panel-right">
                                <ul class="nav navbar-nav pull-right panel-menu">
                                    <li class="hidden-xs">
                                        <a href="index.html" class="modal-link">
                                            <i class="fa fa-bell"></i>
                                            <span class="badge">7</span>
                                        </a>
                                    </li>
                                    <li class="hidden-xs">
                                        <a href="#/calendar">
                                            <i class="fa fa-calendar"></i>
                                            <span class="badge">7</span>
                                        </a>
                                    </li>
                                    <li class="hidden-xs">
                                        <a href="#/page_messages">
                                            <i class="fa fa-envelope"></i>
                                            <span class="badge">7</span>
                                        </a>
                                    </li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle account" data-toggle="dropdown">
                                            <div class="avatar">
                                                <img src="images/avatar.jpg" class="img-rounded" alt="avatar" />
                                            </div>
                                            <i class="fa fa-angle-down pull-right"></i>
                                            <div class="user-mini pull-right">
                                                <span class="welcome">Welcome,</span>
                                                <span>Jane Devoops</span>
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-user"></i>
                                                    <span>Profile</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#/page_messages">
                                                    <i class="fa fa-envelope"></i>
                                                    <span>Messages</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#/gallery_simple">
                                                    <i class="fa fa-picture-o"></i>
                                                    <span>Albums</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#/calendar">
                                                    <i class="fa fa-tasks"></i>
                                                    <span>Tasks</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href=#>
                                                    <i class="fa fa-cog"></i>
                                                    <span>Settings</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href=#>
                                                    <i class="fa fa-power-off"></i>
                                                    <span>Logout</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--End Header-->
        <!--Start Container-->
        <div id="main" class="container-fluid" ng-class="{'sidebar-show': sidebarCollapsed}">
            <div class="row">
                <div id="sidebar-left" class="col-xs-2 col-sm-2">
                    <ul class="nav main-menu">
                        <li>
                            <a href="#/dashboard" class="active">
                                <i class="fa fa-dashboard"></i>
                                <span class="hidden-xs">Dashboard</span>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle">
                                <i class="fa fa-bar-chart-o"></i>
                                <span class="hidden-xs">Charts</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#/charts_xcharts">xCharts</a></li>
                                <li><a href="#/charts_flot">Flot Charts</a></li>
                                <li><a href="#/charts_google">Google Charts</a></li>
                                <li><a href="#/charts_morris">Morris Charts</a></li>
                                <li><a href="#/charts_coindesk">CoinDesk realtime</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle">
                                <i class="fa fa-table"></i>
                                <span class="hidden-xs">Tables</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#/tables_simple">Simple Tables</a></li>
                                <li><a href="#/tables_datatables">Data Tables</a></li>
                                <li><a href="#/tables_beauty">Beauty Tables</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle">
                                <i class="fa fa-pencil-square-o"></i>
                                <span class="hidden-xs">Forms</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#/forms_elements">Elements</a></li>
                                <li><a href="#/forms_layouts">Layouts</a></li>
                                <li><a href="#/forms_file_uploader">File Uploader</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle">
                                <i class="fa fa-desktop"></i>
                                <span class="hidden-xs">UI Elements</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#/ui_grid">Grid</a></li>
                                <li><a href="#/ui_buttons">Buttons</a></li>
                                <li><a href="#/ui_progressbars">Progress Bars</a></li>
                                <li><a href="#/ui_jquery-ui">Jquery UI</a></li>
                                <li><a href="#/ui_icons">Icons</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle">
                                <i class="fa fa-list"></i>
                                <span class="hidden-xs">Pages</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#/page_login">Login</a></li>
                                <li><a href="#/page_register">Register</a></li>
                                <li><a id="locked-screen" class="submenu" href="#/page_locked">Locked Screen</a></li>
                                <li><a href="#/page_contacts">Contacts</a></li>
                                <li><a href="#/page_feed">Feed</a></li>
                                <li><a class="add-full" href="#/page_messages">Messages</a></li>
                                <li><a href="#/page_pricing">Pricing</a></li>
                                <li><a href="#/page_invoice">Invoice</a></li>
                                <li><a href="#/page_search">Search Results</a></li>
                                <li><a href="#/page_404">Error 404</a></li>
                                <li><a href="#/page_500">Error 500</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle">
                                <i class="fa fa-map-marker"></i>
                                <span class="hidden-xs">Maps</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#/maps">OpenStreetMap</a></li>
                                <li><a href="#/map_fullscreen">Fullscreen map</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle">
                                <i class="fa fa-picture-o"></i>
                                <span class="hidden-xs">Gallery</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#/gallery_simple">Simple Gallery</a></li>
                                <li><a href="#/gallery_flickr">Flickr Gallery</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#/typography">
                                <i class="fa fa-font"></i>
                                <span class="hidden-xs">Typography</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/calendar">
                                <i class="fa fa-calendar"></i>
                                <span class="hidden-xs">Calendar</span>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle">
                                <i class="fa fa-picture-o"></i>
                                <span class="hidden-xs">Multilevel menu</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a>First level menu</a></li>
                                <li><a>First level menu</a></li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle">
                                        <i class="fa fa-plus-square"></i>
                                        <span class="hidden-xs">Second level menu group</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a>Second level menu</a></li>
                                        <li><a>Second level menu</a></li>
                                        <li class="dropdown" dropdown>
                                            <a class="dropdown-toggle" dropdown-toggle>
                                                <i class="fa fa-plus-square"></i>
                                                <span class="hidden-xs">Three level menu group</span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a>Three level menu</a></li>
                                                <li><a>Three level menu</a></li>
                                                <li class="dropdown" dropdown>
                                                    <a class="dropdown-toggle" dropdown-toggle>
                                                        <i class="fa fa-plus-square"></i>
                                                        <span class="hidden-xs">Four level menu group</span>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a>Four level menu</a></li>
                                                        <li><a>Four level menu</a></li>
                                                        <li class="dropdown" dropdown>
                                                            <a class="dropdown-toggle" dropdown-toggle>
                                                                <i class="fa fa-plus-square"></i>
                                                                <span class="hidden-xs">Five level menu group</span>
                                                            </a>
                                                            <ul class="dropdown-menu">
                                                                <li><a>Five level menu</a></li>
                                                                <li><a>Five level menu</a></li>
                                                                <li class="dropdown" dropdown>
                                                                    <a class="dropdown-toggle" dropdown-toggle>
                                                                        <i class="fa fa-plus-square"></i>
                                                                        <span class="hidden-xs">Six level menu group</span>
                                                                    </a>
                                                                    <ul class="dropdown-menu">
                                                                        <li><a>Six level menu</a></li>
                                                                        <li><a>Six level menu</a></li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li><a>Three level menu</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--Start Content-->
                <div id="content" class="col-xs-12 col-sm-10">
                    <div class="preloader" ng-if=false>
                        <img src="images/devoops_getdata.gif" class="devoops-getdata" alt="preloader"/>
                    </div>
                    <div ng-view></div>
                </div>
                <!--End Content-->
            </div>
        </div>
        <!-- build:js(.) scripts/oldieshim.js -->
        <!--[if lt IE 9]>
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/json3/lib/json3.min.js"></script>
        <![endif]-->
        <!-- endbuild -->

        <!-- build:js(.) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/json3/lib/json3.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-touch/angular-touch.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/jquery.sparkline/index.js"></script>
        <script src="bower_components/raphael/raphael.js"></script>
        <script src="bower_components/mocha/mocha.js"></script>
        <script src="bower_components/morris.js/morris.js"></script>
        <script src="bower_components/angular-morris-chart/src/angular-morris-chart.min.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="bower_components/jquery-knob/js/jquery.knob.js"></script>
        <script src="bower_components/bower-xcharts/xcharts.js"></script>
        <script src="bower_components/d3/d3.js"></script>
        <script src="bower_components/angular-google-chart/ng-google-chart.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/dashboard.js"></script>
        <script src="scripts/controllers/charts_xcharts.js"></script>
        <script src="scripts/directives/mainmenu.js"></script>
        <script src="scripts/directives/jqsparkline.js"></script>
        <script src="scripts/directives/morrischart.js"></script>
        <script src="scripts/directives/knob.js"></script>
        <script src="scripts/directives/xcharts.js"></script>
        <!-- endbuild -->
    </body>
</html>
